<div class="col-xs-12 col-sm-9">
    <h1>Remote Configure Devices</h1>

    <uib-tabset>
        <uib-tab heading="Scan Devices">
            <h2></h2>
            <p >Please input ranges of the device's IP address and click SCAN to find devices.</p>
            <form class="form-inline" role="form" ng-submit="vm.startScan()" name="StartScan">

                <div ng-repeat="item in vm.ipCandidates">
                    <div class="form-group">
                        <label class="control-label" for="configurate__ip_start"></label>
                        <input class="form-control" name="configurate__ip_start"
                               placeholder="192.168.0.1"
                               ng-required="true" ng-model="item.range_start" />
                    </div>
                    <div class="form-group">
                        <label class="control-label" for="configurate__ip_end"> ~ </label>
                        <input class="form-control" name="configurate__ip_end"
                               placeholder="192.168.0.254"
                               ng-required="true" ng-model="item.range_end" />
                    </div>
                    <span ng-show="vm.isRemoveRangeBtnShowing" style="cursor:pointer" class="glyphicon glyphicon-remove-circle" ng-click="vm.removeRange(item);"></span>
                    <br></br>
                </div>
            <div style="margin-bottom:15px;" ng-show="!vm.isScanDisabled">
                <span  style="cursor:pointer" class="glyphicon glyphicon-plus-sign" ng-click="vm.addNewRange();"></span> Add new IP range
            </div>
            <p ng-show="vm.isScanDisabled">Please wait for few seconds...</p>
            <div>
                <button type="submit" class="btn btn-primary" ng-disabled="vm.isScanDisabled">
                    <span ng-show="vm.isScanning">STOP</span>
                    <span ng-show="!vm.isScanning">SCAN</span>
                </button>
            </div>
            </form>

        </uib-tab>
    <uib-tab heading="Configurate Devices">
        <h2></h2>
        <form class="form-horizontal" role="form" ng-submit="vm.startConfigure()" name="StartConfigure">
            <div class="form-group">
                <label class="col-sm-2 control-label" for="configurate__ip">IP Address</label>
                <div class="col-sm-10">
                    <input class="form-control" name="configurate__ip"
                           placeholder="192.168.1.38"
                           ng-required="true" ng-model="vm.configurate_ip" />
                    <span ng-show="vm.configurate_ip">http://{{vm.configurate_ip}}:8080</span>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label" for="configurate__ip">Password</label>
                <div class="col-sm-10">
                    <input class="form-control" name="configurate__password"
                           ng-required="true" ng-model="vm.configurate_password" />
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label" for="configurate__configurate_cases">
                    ExampleCase
                </label>
                <div class="col-sm-10">
                    <select name="configurate_cases" class="form-control" ng-options="data for data in vm.configurateCasesArray" ng-model="vm.configurateCase" ng-change="vm.onExampleCaseChanged();">
                    </select>
                </div>
            </div>
            <div ng-show="vm.configurateCaseDescription" class="alert alert-info">{{ vm.configurateCaseDescription }}</div>
            <button ng-disabled="vm.isExampleRunning" type="submit" class="btn btn-primary pull-right">Try it!</button>
        </form>
    </uib-tab>

    </uib-tabset>

<br></br>
<div ng-show="vm.configurate_result" class="alert alert-success result-msg">{{ vm.configurate_result }}</div>
<div ng-show="vm.configurate_fail_result" class="alert alert-danger result-msg">{{ vm.configurate_fail_result }}</div>



</div><!-- /.col-xs-12 main -->