<div class="col-xs-12 col-sm-9">
    <h1>Remote Configuration Example</h1>

    <uib-tabset>
        <uib-tab heading="Single Example">
            <h2>Example</h2>
            <form class="form-horizontal" role="form" ng-submit="vm.startExample()" name="SingleExample">
                <div class="form-group">
                    <label class="col-sm-2 control-label" for="example__ip">IP Address</label>
                    <div class="col-sm-10">
                        <input class="form-control" name="example__ip"
                               placeholder="192.168.1.38"
                               ng-required="true" ng-model="vm.example_ip" />
                        <span ng-show="vm.example_ip">http://{{vm.example_ip}}:8080</span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label" for="example__ip">Password</label>
                    <div class="col-sm-10">
                        <input class="form-control" name="example__password"
                               ng-required="true" ng-model="vm.example_password" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label" for="example__example_cases">
                        ExampleCase
                    </label>
                    <div class="col-sm-10">
                        <select name="example_cases" class="form-control" ng-options="data for data in vm.exampleCasesArray" ng-model="vm.exampleCase" ng-change="vm.onExampleCaseChanged();">
                        </select>
                    </div>
                </div>
                <div ng-show="vm.exampleCaseDescription" class="alert alert-info">{{ vm.exampleCaseDescription }}</div>
                <button ng-disabled="vm.isExampleRunning" type="submit" class="btn btn-primary pull-right">Try it!</button>
            </form>
        </uib-tab>

    </uib-tabset>

    <br></br>
<div ng-show="vm.example_result" class="alert alert-success result-msg">{{ vm.example_result }}</div>
<div ng-show="vm.example_fail_result" class="alert alert-danger result-msg">{{ vm.example_fail_result }}</div>



</div><!-- /.col-xs-12 main -->