<div class="col-xs-12 col-sm-9">
    <h1>Remote Configuration Test</h1>

    <uib-tabset>
        <uib-tab heading="Single Test">
            <h2>Single Test</h2>
            <form class="form-horizontal" role="form" ng-submit="vm.testSingle()" name="SingleTest">
                <div class="form-group">

                    <label class="col-sm-2 control-label" for="test__model_id">Model ID</label>
                    <div class="col-sm-10">
                        <select class="form-control" ng-change="vm.modelChange();" ng-options="id for id in vm.models" ng-model="vm.model_id"></select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label" for="test__ip">IP Address</label>
                    <div class="col-sm-10">
                        <input class="form-control" name="test__ip"
                               placeholder="192.168.1.38"
                               ng-required="true" ng-model="vm.test_ip" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label" for="test__ip">Password</label>
                    <div class="col-sm-10">
                        <input type="password"
                               class="form-control" name="test__password"
                               ng-required="true" ng-model="vm.test_password" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label" for="test__model_id">
                        Test By
                    </label>
                    <div class="col-sm-10">
                        <label class="radio-inline">
                            <input type="radio" name="optradio" ng-model="vm.testMethod" value="0">
                            Test Cases
                        </label>
                        <label class="radio-inline">
                            <input type="radio" name="optradio" ng-model="vm.testMethod" value="1">
                            URL
                        </label>
                    </div>
                </div>
                <div class="form-group" ng-show="vm.testMethod==0">
                    <label class="col-sm-2 control-label" for="test__model_id">
                        TestCase
                    </label>
                    <div class="col-sm-10">
                        <select class="form-control" ng-options="data for data in vm.testCasesArray" ng-model="vm.testCase">
                        </select>
                    </div>
                </div>
                <div class="form-group" ng-show="vm.testMethod==1">
                    <label class="col-sm-2 control-label" for="test__ip">URL Path</label>
                    <div class="col-sm-10">
                        <input class="form-control" name="test__path" ng-disabled="vm.testMethod!=1"
                               placeholder="/v1/oauth2/token"
                               ng-required="vm.testMethod==0" ng-model="vm.test_path" />
                    </div>
                </div>
                <span ng-show="vm.test_ip"><b>Test Address:</b> http://{{vm.test_ip}}:8080{{ vm.test_path }}</span>
                <button ng-disabled="vm.isTesting" type="submit" class="btn btn-primary pull-right">Test</button>
            </form>
        </uib-tab>
        <uib-tab heading="Full Test">
            <h2>Full Test</h2>
            <form class="form-horizontal" role="form" ng-submit="vm.testAll()" name="FullTest">
                <div class="form-group">

                    <label class="col-sm-2 control-label" for="test__model_id">Model ID</label>
                    <div class="col-sm-10">
                        <select class="form-control" ng-change="vm.modelChange();" ng-options="id for id in vm.models" ng-model="vm.model_id"></select>
                    </div>
                </div>
                <div class="form-group">

                    <label class="col-sm-2 control-label" for="test__ip">IP Address</label>
                    <div class="col-sm-10">
                        <input class="form-control" name="test__ip"
                               placeholder="192.168.1.38"
                               ng-required="true" ng-model="vm.test_ip" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label" for="test__ip">Password</label>
                    <div class="col-sm-10">
                        <input class="form-control" name="test__password"
                               ng-required="true" ng-model="vm.test_password" />
                    </div>
                </div>
                <span ng-show="vm.test_ip"><b>Test URL:</b> http://{{vm.test_ip}}</span>
                <button ng-disabled="vm.isTesting" type="submit" class="btn btn-primary pull-right">Test All</button>

            </form>
        </uib-tab>

    </uib-tabset>

    <br></br>
<div ng-show="vm.test_result" class="alert alert-success result-msg">{{ vm.test_result }}</div>
<div ng-show="vm.test_fail_result" class="alert alert-danger result-msg">{{ vm.test_fail_result }}</div>



</div><!-- /.col-xs-12 main -->