*[ng-show="vm.deviceScanResult"] {
    display: none;
}


.device-row:not([status="online"]) td:not(.device-highlight) {
    opacity: 0.25;
}
.device-row[status="processing"] .device-refresh,
.device-row[status="processing"] .device-screenshot,
.device-row[status="processing"] .device-remove {
    display: none;
}
.device-row .device-status {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    border: 1px solid #999;
    background-color: #fc6;
    display: inline-block;
}
.device-row[status="online"] .device-status {
    background-color: #6c6;
}
.device-row[status="offline"] .device-status {
    background-color: #c66;
}
.device-row .device-screenshot {
    color: #369;
    cursor: pointer;
}
.device-row .device-remove {
    color: #c66;
    cursor: pointer;
}
.device-row .device-refresh {
    cursor: pointer;
}

#progress,
#screenshot {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: 10000;
}
#progress .box,
#screenshot .box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#progress .box {
    font-size: 20px;
    font-weight: bold;
    color: #fff;
}
#screenshot .box {
    padding: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    background: #fff;
}
#screenshot img {
    width: 800px;
    height: auto;
}