<div class="form-group"
     ng-show="when">
       <label class="col-sm-3 control-label">{{label}}</label>
       <div class="col-sm-9">
              <input name="{{formInputName}}"
                     ng-required="when"
                     ng-pattern="pattern"
                     placeholder="{{placeholder}}"
                     class="form-control"
                     ng-model="model" />
              <div ng-show="formInput.$error.required" class="help-block">* Required</div>
              <div ng-show="formInput.$error.pattern" class="help-block">Format is incorrect</div>
       </div>
</div>